.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    background-color: rgba(222, 159, 200, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #465e7b;
}
.item-info {
    flex-basis: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 0 0.9rem;
    line-height: 1.2;
}